body{
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#main-container{
    display: flex;
    flex-direction: column;
    background: linear-gradient(#7495A8, #E3F5FF);
    align-items: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5%;
    border: solid .25rem gray;
}
h1{
    color: black;
    font-size: 4rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: 0;
    border-top: solid black .2rem;
    border-bottom: solid black .2rem;
}

#toDo-columns{
    display: inline-flex;
    flex-direction: row;
    justify-self: center;
    margin-bottom: 2rem;
    height: 90%;
    width: 90%;
}

/* list of todo lists styling*/

#toDoLists{
    background-color: #A88D6D;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: .5rem;
    padding: .5rem;
    border: solid black .1rem;
}
#toDoLists h2{
    max-width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#lists{
    padding-left: 0;
    border-top: solid black .2rem;
}

#lists li{
    display: flex;
    list-style: none;
    margin-top: .25rem;
    padding-left: .25rem;
    border-bottom: solid #7E9CA8 .1rem;
}

#lists li div{
    margin-left: auto;
}

#lists li:hover{
    background-color: cyan;
}

#new-list-form{
    display: flex;
    margin-top: auto;
}

#new-item-form{
    display: flex;
}

/* todo list styling*/

#toDoList{
    background-color: #A88D6D;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-right: 3.5rem;
    padding: 0 2rem 0 2rem;
    border-radius: .5rem;
    border: solid black .1rem;
}
#toDoList #name{
    max-width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
}
#task-list{
    display: flex;
    border-top: solid black .1rem;
}
/* incomplete list styling*/
#incomplete-items-div{
    margin-right: 1rem;
}
#incomplete-list-header{
    border-left: solid #E13F0A .5rem;
    max-width: fit-content;
    padding-left: .25rem;
    padding-right: 1rem;
}
#incomplete-items, #complete-items{
    padding-left: 0;
    border-top: solid black .1rem;
}
#border{
    height: 100%;
    /* width: .1rem; */
    border-right: solid black .1rem;
}
#incomplete-items li{
    display: flex;
    list-style: none;
    border-left: solid #E13F0A .1rem;
    margin-top: .25rem;
    padding-left: .25rem;
    border-bottom: solid #7E9CA8 .1rem;
}

#incomplete-items li span{
    padding-right: 1rem;
    max-width: 14ch;
}


#incomplete-items li #buttons-container, #complete-items li #buttons-container{
    display: flex;
    margin-left: auto;
}

#incomplete-items #checkbox, #complete-items #checkbox{
    border-radius: 0 .25rem .25rem 0;
    border: none;
    display: flex;
    justify-self: center;
    align-items: center;
}

#incomplete-items #editTask, #complete-items #editTask{
    border: none;
    justify-self: center;
    border-right: solid .1rem black;
}

#editTask:hover, #checkbox:hover{
    background-color: rgb(201, 201, 128);
}

/* complete list styling*/

#complete-items-div{
    margin-left: 1rem; 
}

#complete-list-header{
    border-left: solid #76E01F .5rem;
    max-width: fit-content;
    padding-left: .25rem;
    padding-right: 1rem;
}

#complete-items li{
    display: flex;
    list-style: none;
    border-left: solid #76E01F .1rem;
    margin-top: .25rem;
    padding-left: .25rem;
    border-bottom: solid #7E9CA8 .1rem;
}

#complete-items li span{
    padding-right: 1rem;
    word-wrap: break-word;
    max-width: 14ch;
}

/*mobile resizing*/
@media (max-width: 57.5rem){
    #toDo-columns{
        flex-direction: column;
    }
    #main-container, #toDoList, #toDo-columns, #toDoLists{
        overflow: scroll;
    }
    #main-container h1{
        word-wrap: break-word;
    }
    #task-list{
        flex-direction: column;
    }
    #complete-items-div{
        margin-left: 0; 
    }
}