body{
    padding: 0;
    margin: 0;
}
#main-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(204, 243, 245);
    max-width: max-content;
    max-height: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5%;
    border: solid .25rem gray;
}
h1{
    background-color: orange;
    text-align: center;
    margin: auto;
    border-radius: 1rem;
    padding-left: .25rem;
    padding-right: .25rem;
}

#toDo-columns{
    display: inline-flex;
    flex-direction: row;
}

/* list of todo lists styling*/

#toDoLists{
    background-color: grey;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: .5rem;
    padding: .5rem;
}
#toDoLists h2{
    background-color: lightgray;
    border-radius: 25rem;
    max-width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#lists{
    padding-left: 0;
}

#lists li{
    display: flex;
    list-style: none;
    background-color:lightblue;
    margin-top: .25rem;
    padding-left: .25rem;
    border-radius: .25rem;
}

#lists li div{
    margin-left: auto;
}

#lists li:hover{
    background-color: cyan;
}

#new-list-form{
    margin-top: auto;
}
/* todo list styling*/

#toDoList{
    background-color: gray;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: .5rem;
    border-radius: .5rem;
}
#toDoList #name{
    background-color: lightgray;
    max-width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 25rem;
    text-align: center;
}
#task-list{
    display: flex;
}
/* incomplete list styling*/
#incomplete-items-div{
    margin-right: 1rem;
}
#incomplete-list-header{
    background-color: #E13F0A;
    max-width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 25rem;
}
#incomplete-items, #complete-items{
    padding-left: 0;
}
#incomplete-items li{
    display: flex;
    list-style: none;
    background-color: #E13F0A;
    margin-top: .25rem;
    border-radius: .25rem;
    padding-left: .25rem;
}

#incomplete-items li span{
    padding-right: 1rem;
}

#incomplete-items li #buttons-container, #complete-items li #buttons-container{
    display: flex;
    margin-left: auto;
}

#incomplete-items #checkbox, #complete-items #checkbox{
    border-radius: 0 .25rem .25rem 0;
    border: none;
    display: flex;
    justify-self: center;
}

#incomplete-items #editTask, #complete-items #editTask{
    border: none;
    justify-self: center;
    border-right: solid .1rem black;
}

#editTask:hover, #checkbox:hover{
    background-color: rgb(201, 201, 128);
}

/* complete list styling*/
#complete-items-div{
    margin-left: 1rem; 
}

#complete-list-header{
    background-color: #76E01F;
    max-width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 25rem;
}
#complete-items li{
    display: flex;
    list-style: none;
    background-color: #76E01F;
    margin-top: .25rem;
    border-radius: .25rem;
    padding-left: .25rem;
}

#complete-items li span{
    padding-right: 1rem;
}

#new-item-form{
    margin-top: auto;
} 
